<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>Upload Document</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="buttonPostion"> 
<div class=" buttonPostion animated  fadeInLeft delay-2s">
  <ion-button expand="block" class="button" color="tertiary" (click)="presentModal()">upload driving licence</ion-button>
</div>
<div class=" buttonPostion animated  	fadeInRight delay-2s">
   <ion-button expand="block"  class="button" color="tertiary">upload Rc book</ion-button>
</div>
<div class="buttonPostion animated  fadeInLeft delay-2s">
   <ion-button expand="block" class="button" color="tertiary" >upload adhaar </ion-button>
  </div>
</div>
</ion-content>
