<ion-card>
  <ion-item lines="full">
    <ion-icon name="pin" color="primary"></ion-icon>
    <ion-text slot="end">
      New Ride
    </ion-text>
  </ion-item>
   <ion-item lines="none">
    
    <ion-text slot="start">Distance:</ion-text>
    <ion-text slot="end">10km</ion-text>
  </ion-item>
  <ion-item lines="none">
    
    <ion-text slot="start">from    :</ion-text>
    <ion-text slot="end">palakkad</ion-text>
    </ion-item>

    <ion-item lines="none">
    
      <ion-text slot="start">to    :</ion-text>
      <ion-text slot="end">pathiripala junction</ion-text>
    </ion-item>
     <ion-item lines="none">
    
        <ion-button expand="block" slot="start"  color="primary">Confirm</ion-button>
        
        <ion-button expand="block" slot="end"  color="primary">Cancel</ion-button>
        
      </ion-item>
</ion-card>
