<ion-card>
  <ion-item lines="full">
    <ion-icon name="pin" color="primary"></ion-icon>
    <ion-text slot="end">
      New Ride
    </ion-text>
  </ion-item>
   <ion-item lines="none">
    
    <ion-text slot="start">Distance:</ion-text>
    <ion-text slot="end">{{riderInfo.distance}}</ion-text>
  </ion-item>
  <ion-item lines="none">
    
    <ion-text slot="start">From:</ion-text>
    <ion-text slot="end">{{riderInfo.pickUp}}</ion-text>
    </ion-item>

    <ion-item lines="none">
    
      <ion-text slot="start">To:</ion-text>
      <ion-text slot="end">{{riderInfo.destination}}</ion-text>
    </ion-item>
    <ion-item lines="none">
    
      <ion-text slot="start">Id:</ion-text>
      <ion-input slot="end" [(ngModel)]="taskId"></ion-input>
    </ion-item>
     <ion-item lines="none">
    
        <ion-button expand="block" slot="start"  color="primary" (click)="confirmRequest()">Confirm</ion-button>
        
        <ion-button expand="block" slot="end"  color="primary">Cancel</ion-button>
        
      </ion-item>
</ion-card>
