<ion-header>
    <ion-toolbar color="primary">
      <ion-title>invoice</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-card>
      <ion-card-header>
        <ion-card-title text-center>
          Charge
        </ion-card-title>
        <ion-card-content>
            <ion-item lines="none">
                <ion-text slot="start">From     :</ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-text slot="start"> {{travelInfo.pickUp}}</ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-text slot="start">To       :</ion-text>
                <ion-text slot="end">{{travelInfo.destination}}</ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-text slot="start">Distance :</ion-text>
                <ion-text slot="end">{{travelInfo.distance}} KM</ion-text>
              </ion-item>
              <ion-item>
                    <ion-text slot="start">Fare : </ion-text>
                <ion-text slot="end">INR {{travelInfo.fare}}</ion-text>
              </ion-item>
              <div>
                <ion-button expand="full" (click) = cashCollected()>

                  cash collected
                </ion-button>
              </div>
        </ion-card-content>
      </ion-card-header>
    </ion-card>

  </ion-content>
