<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Drivo</ion-title>
    </ion-toolbar>
   
  </ion-header>

<ion-content>
    <div id="map_canvas">
      </div>
    <ion-item>
        <ion-avatar class="profilepicsize" slot="start">
            <img src="/assets/images/profile3.jpeg">
        </ion-avatar>
        <ion-text slot="start">Sooraj </ion-text>
        <ion-card-subtitle slot="start">{{status}}</ion-card-subtitle>
      <ion-toggle color="success" [(ngModel)]="status" slot="start"></ion-toggle>

    </ion-item>
</ion-content>
